.container {
    display: flex;
    align-items: center;
    flex-direction: column;
    box-shadow: 3px 5px 10px rgba(0, 0, 0, 0.5);
    padding: 20px;
    border-radius: 10px;
    border: none;
    background-color: #290104;
    color: azure;
    height: 100%;

}

h1 {
    font-size: 30px;
}

input {
    height: 30px;
    font-size: 20px;
    border-radius: 5px;
    margin: 5px;
    padding: 10px;
    border: none;

}

label {
    font-size: 20px;

}

button {
    font-size: 18px;
    background-color: crimson;
    color: white;
    border: none;
    padding: 7px;
    border-radius: 15px;

}

p {
    font-size: 20px;
    margin: 5px;

}

b {
    font-size: 25px;

}

h4 {
    display: flex;
    justify-content: flex-start;
    font-size: 25px;


}

.name {
    font-size: 25px;
    color: red;
}


.footer {
    font-weight: 100;


}


.logout{
    position: absolute;
    top: 10px;
    right: 10px;
    z-index: 100;
    font-size: 20px;
    font-weight: 200;
    letter-spacing: 1px;
    padding: 13px 20px 13px;
    outline: 0;
    border: 1px solid black;
    cursor: pointer;
    color: crimson  ;
  border-radius: 20px;
  border: none;
    background-color: crimson;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}


.logout:after{
    content: "";
    background-color: #ffe54c;
    border-radius: 20px;
    width: 100%;
    z-index: -1;
    position: absolute;
    height: 100%;
    top: 7px;
    left: 7px;
    transition: 0.2s;


}


.logout:hover:after {
    top: 0px;
    left: 0px;
    color: black;
  }
  
  @media (min-width: 768px) {
    .logout {
      padding: 13px 50px 13px;
    }
}
/* <!-- HTML !-->
<button class="button-52" role="button">Button 52</button>

/* CSS */
/* .button-52 {
  font-size: 16px;
  font-weight: 200;
  letter-spacing: 1px;
  padding: 13px 20px 13px;
  outline: 0;
  border: 1px solid black;
  cursor: pointer;
  position: relative;
  background-color: rgba(0, 0, 0, 0);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-52:after {
  content: "";
  background-color: #ffe54c;
  width: 100%;
  z-index: -1;
  position: absolute;
  height: 100%;
  top: 7px;
  left: 7px;
  transition: 0.2s;
}

.button-52:hover:after {
  top: 0px;
  left: 0px;
}

@media (min-width: 768px) {
  .button-52 {
    padding: 13px 50px 13px;
  }
} */ 